.footer
    background-color: #001211
    padding: 68px 80px 15px
    &__hero
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 70px
    &__nav
        display: flex
        align-items: center
    &__logo
        margin-right: 120px
    &__menu
        list-style: none
        display: flex
        align-items: center
        &-item
            font-size: 14px
            margin-right: 40px
            & a
                color: #C3DAE2
                transition: color 0.3s ease
                &:hover
                    color: $primary
    &__socials
        list-style: none
        display: flex
        align-items: center
        & li
            margin-left: 30px
    &__copyright
        padding-top: 14px
        border-top: 1px solid $text-color
        display: flex
        align-items: center
        font-size: 10px
        line-height: 200%
        & span
            color: $primary
        & a
            color: #2D4443
            margin-left: 8px
        