$text-color: #011C1A
$bg-color: #F7FAFC 

$primary: #5a75f8
$secondary: #ff7400

*
    margin: 0
    padding: 0
    box-sizing: border-box
    scroll-behavior: smooth
    font-family: 'Grafita'
    line-height: 1.15
a
    text-decoration: none
    color: $text-color

.container
    max-width: 846px
    margin: auto
    padding: 0 30px
    position: relative
   
.btn 
    display: block
    position: relative
    appearance: none
    border: none
    outline: none
    cursor: pointer
    border: 1px solid $text-color
    border-radius: 12px
    padding: 14px 16px
    color: $text-color
    background-color: #fff
    text-align: center
    font-size: 14px

.creation-page
    background-color: $bg-color
    padding-top: 100px
    &__title
        font-family: 'Calvino'
        font-weight: 600
        text-align: center
        font-size: 60px
        margin-bottom: 50px