.header
    width: 100%
    background-color: #fff
    &__wrapper
        max-width: 1440px
        padding: 26px 80px
        margin: auro
        display: flex
        justify-content: space-between
        align-items: center
    &__logo
        max-width: 100px
    &__btn
        