.header
    width: 100%
    background-color: #fff
    &__wrapper
        max-width: 1440px
        padding: 26px 80px
        margin: auro
        display: flex
        justify-content: space-between
        align-items: center
    &__logo
        max-width: 100px
    &__btn
        
@media screen and (max-width: 767px)
    .header
        &__wrapper
            padding: 26px 30px
        
@media screen and (max-width: 425px)
    .header
        &__wrapper
            padding: 16px 20px
        &__logo
            max-width: 87px