.page-biography
    padding: 115px 0
    background: transparent
    &__main
        max-width: 980px
        margin: auto
        position: relative
        margin-bottom: 65px
    &__title
        font-family: 'Calvino Grande'
        font-size: 40px
        line-height: 2.5
        margin-bottom: 31px
        text-align: left
    &__friends
        max-width: 1440px
        margin: auto
        & .title
            text-align: left
    &__hero
        display: flex
        justify-content: space-between
        margin-bottom: 68px
    &__content
        flex-basis: 40%
        &:first-child
            margin-right: 40px
    &__item
        line-height: 1.2
        color: $classicTextColor
        margin-bottom: 190px
    &__text
        font-size: 26px
        margin-bottom: 24px
        &::first-letter
            font-family: 'Calvino Grande'
            font-size: 68px
            float: left
            line-height: 0.9
            padding-right: 7px
    &__img-wrapper
        margin-bottom: 55px
        width: 100%
        overflow: hidden
        & img
            width: 100%
            transition: transform 0.1s linear
    &__author
        font-family: 'Calvino Grande'
        font-weight: 600
        font-size: 18px
        & span
            font-family: 'Grafita'
            font-weight: 400
            font-size: 14px
            color: $classicSecondary
            margin-left: 11px
    &__btn
        margin-left: auto
        min-width: 412px
        min-height: 70px
        font-family: 'Grafita Special'
        font-size: 20px
        border-radius: 20px
        transition: background-color .3s ease
        &:hover
            background-color: $classicPrimary
            border: 1px solid $classicPrimary
    &__carousel-wrap
        margin-bottom: 115px
    &__carousel
        margin-bottom: 70px
        & .owl-stage 
            display: flex
            align-items: center
        &-item
            margin: 0 12px
    &__controls
        display: flex
        margin-left: auto
        padding-right: 80px
        width: fit-content
    &__carousel-btn
        display: block
        position: relative
        appearance: none
        outline: none
        cursor: pointer
        border: 0.5px solid $classicTextColor
        border-radius: 50%
        background: #fff
        width: 36px
        height: 36px
        display: flex
        justify-content: center
        align-items: center
        margin-left: 13px
        & svg path
            stroke: $classicTextColor

.read-more
    display: inline
    margin-left: 12px
    cursor: pointer
    & span
        color: #0047FF
    & p
        max-height: 0
        overflow: hidden
        transition: max-height 0.3s ease

.black
    & .page-biography
        &__item
            color: $blackTextColor
        &__author
            & span
                color: $blackTextColor
        &__btn
            color: $blackTextColor
            border: 0.5px solid $blackTextColor
            &:hover
                background-color: $blackPrimary
                border: 1px solid $blackPrimary
        &__carousel-btn
            border: 0.5px solid $blackTextColor
            & svg path
                stroke: $blackTextColor
.red
    & .page-biography
        &__item
            color: $redTextColor
        &__author
            & span
                color: #000
        &__btn
            color: $redTextColor
            border: 0.5px solid $redTextColor
            &:hover
                background-color: $redPrimary
                border: 1px solid $redPrimary
        &__carousel-btn
            border: 0.5px solid $redTextColor
            & svg path
                stroke: $redTextColor
.blue
    & .page-biography
        &__item
            color: $blueTextColor
        &__author
            & span
                color: $blueSecondary
        &__btn
            color: $blueTextColor
            border: 0.5px solid $blueTextColor
            &:hover
                background-color: $bluePrimary
                border: 1px solid $bluePrimary
        &__carousel-btn
            border: 0.5px solid $blueTextColor
            & svg path
                stroke: $blueTextColor
        

@media screen and (max-width: 1240px)
    .page-biography
        &__content
            flex-basis: 46%
@media screen and (max-width: 1023px)
    .page-biography
        &__text
            font-size: 22px
@media screen and (max-width: 767px)
    .page-biography
        padding: 100px 0
        &__main-text
            font-size: 16px
        &__item
            margin-bottom: 60px
        &__text
            font-size: 16px

@media screen and (max-width: 575px)
    .page-biography     
        &__hero
            flex-direction: column
            margin-bottom: 0
        &__content
            margin-bottom: 60px
            &:first-child
                margin-right: 0px
        &__btn
            width: 100%

@media screen and (max-width: 425px)
    .page-biography
        &__main-text
            font-size: 14px
        &__title
            font-size: 30px
            line-height: 1.2
        &__btn
            min-width: 0
        &__text
            font-size: 14px
            &::first-letter
                font-size: 40px
                line-height: 0.9