.page-head
    width: 100%
    min-height: 100vh
    background: transparent
    padding-top: 100px
    padding-bottom: 145px
    display: flex
    justify-content: center
    align-items: center
    &__thumbnail
        position: relative
        padding: 65px 55px
        background: url("../assets/photo-frame.png") no-repeat
        background-size: contain
        width: fit-content
        margin: auto
    &__photo
        max-width: 400px
        max-height: 515px
        border-radius: 200px
        overflow: hidden
        z-index: 1
        position: relative
        &::after
            content: ""
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            background: linear-gradient(1.2deg, #011C1A 1.14%, rgba(1, 28, 26, 0) 63.47%)
        & img
            width: 100%
            transition: transform 0.1s linear
    &__thumbnail-label
        font-family: 'Grafita Special'
        position: absolute
        top: 0
        left: 50%
        transform: translate(-50%, -15%)
        font-size: 28px
        line-height: 1.2
        color: $classicSecondary
        background: $classicTextColor
        padding: 0 20px
        text-align: center
        transition: background 0.1s linear
    &__name-wrapper
        position: relative
        margin-top: -135px
        z-index: 2
    &__name
        font-family: 'Calvino Grande'
        font-weight: 600
        font-size: 90px
        line-height: 111%
        text-align: center
        color: $classicPrimary
        display: block
    &__surname
        padding: 0 45px
        width: fit-content
    &__date-wrap
        display: flex
        justify-content: center
        align-items: flex-end
        margin-bottom: 140px
    &__date
        font-family: 'Grafita'
        font-weight: 400
        font-size: 28px
        line-height: 2.0
        color: $classicSecondary
    &__date-dash
        padding: 20px
    &__date-wrap-mobile
        display: none
        margin-bottom: 100px
    &__quots
        margin: auto
        display: block
        margin-bottom: 8px
    &__text
        max-width: 875px
        margin: auto
        font-family: 'Grafita Special'
        font-weight: 400
        font-size: 26px
        line-height: 1.3
        color: $classicPrimary
        margin-bottom: 60px
        &::first-letter
            font-family: 'Calvino Grande'
            font-size: 90px
            float: left
            line-height: 0.8
            padding-right: 7px
    &__author
        font-family: 'Calvino Grande'
        font-weight: 600
        font-size: 18px
        line-height: 1.2
        text-align: center
        color: $classicSecondary

.black
    & .page-head
        &__name
            color: $blackPrimary
        &__text
            color: $blackPrimary
        &__date
            color: $blackSecondary
        &__author
            color: $blackSecondary
        &__thumbnail-label
            color: $blackSecondary
            background-color: $blackTextColor
        &__photo
            &::after
                background: linear-gradient(1.2deg, #131414 1.14%, rgba(1, 28, 26, 0) 63.47%)
.red
    & .page-head
        &__name
            color: $redPrimary
        &__text
            color: $redPrimary
        &__date
            color: $redSecondary
        &__author
            color: $redSecondary
        &__thumbnail-label
            color: $redSecondary
            background-color: $redTextColor
        &__photo
            &::after
                background: linear-gradient(1.2deg, #33040D 1.14%, rgba(51, 4, 13, 0) 63.47%)
.blue
    & .page-head
        &__name
            color: $bluePrimary
        &__text
            color: $bluePrimary
        &__date
            color: $blueSecondary
        &__author
            color: $blueSecondary
        &__thumbnail-label
            color: $bluePrimary
            background-color: $blueTextColor
        &__photo
            &::after
                background: linear-gradient(1.2deg, #062053 1.14%, rgba(6, 32, 83, 0.16) 63.47%)

@media screen and (max-width: 767px)
    .page-head   
        padding-top: 120px
        &__date-wrap
            display: none
        &__date-wrap-mobile
            display: block
            & div
                text-align: center
        &__surname
            margin: auto
        &__thumbnail-label
            font-size: 22px
        &__name
            font-size: 60px
        &__date
            font-size: 22px
        &__text
            font-size: 22px
        &__author
            font-size: 16px

@media screen and (max-width: 550px)
    .page-head   
        &__thumbnail
            padding: 45px 35px
@media screen and (max-width: 425px)
    .page-head
        &__thumbnail-label
            font-size: 16px
        &__name
            font-size: 40px
        &__date
            font-size: 16px
        &__name-wrapper
            margin-top: -90px
        &__text
            font-size: 14px
            margin-bottom: 30px
            &::first-letter
                font-size: 40px
                line-height: 1
                padding-right: 7px
                margin-top: -2px
        &__author
            font-size: 12px