.page-rested
    background: $classicTextColor
    padding: 114px 0 200px
    &__hero
        max-width: 1440px
        margin: auto
    &__title
        font-family: 'Calvino Grande'
        font-size: 40px
        line-height: 2.5
        margin-bottom: 35px
        text-align: left
        color: $classicPrimary
    &__subtitle
        font-family: 'Calvino'
        font-weight: 600
        font-size: 40px
        line-height: 130%
        color: $classicPrimary
        margin-bottom: 12px
        text-align: left
    &__wrapper
        display: flex
        justify-content: center
        align-items: center
    &__map-wrapper
        margin-right: 130px
        width: 100%
        flex-basis: 100%
    &__map
        width: 100%
    &__content
        flex-basis: 54%
    &__adress
        margin-bottom: 39px
        display: flex
        align-items: flex-start
        & svg
            margin-right: 5px
            margin-top: 5px
            & path
                fill: $classicSecondary
        & p
            font-family: 'Grafita Special'
            font-weight: 400
            font-size: 26px
            line-height: 1.2
            color: $classicSecondary
    &__text
        font-family: 'Grafita Special'
        color: $classicSecondary
        margin-bottom: 14px
    &__coords
        font-family: 'Grafita'
        font-weight: 400
        font-size: 14px
        line-height: 1.2
        color: $classicSecondary
        & span
            font-size: 18px
            color: $classicPrimary

.black
    & .page-rested
        background: $blackTextColor
        &__title
            color: $blackPrimary
        &__subtitle
            color: $blackPrimary
        &__adress 
            & svg path
                fill: $blackSecondary
            & p
                color: $blackSecondary
        &__text
            color: $blackSecondary
        &__coords
            color: $blackSecondary
            & span
                color: $blackPrimary
.red
    & .page-rested
        background: $redTextColor
        &__title
            color: $redPrimary
        &__subtitle
            color: $redPrimary
        &__adress 
            & svg path
                fill: $redSecondary
            & p
                color: $redSecondary
        &__text
            color: $redSecondary
        &__coords
            color: $redSecondary
            & span
                color: $redPrimary

.blue
    & .page-rested
        background: $blueTextColor
        &__title
            color: $bluePrimary
        &__subtitle
            color: $bluePrimary
        &__adress 
            & svg path
                fill: $blueSecondary
            & p
                color: $blueSecondary
        &__text
            color: $blueSecondary
        &__coords
            color: $blueSecondary
            & span
                color: $bluePrimary


@media screen and (max-width: 1440px)
    .page-rested
        &__map-wrapper
            margin-right: 60px
        &__content
            flex-basis: 75%

@media screen and (max-width: 1023px)
    .page-rested
        padding: 100px 0
        &__wrapper
            flex-direction: column
        &__map-wrapper
            margin-right: 0
            margin-bottom: 60px
        &__content
            flex-basis: 100%

@media screen and (max-width: 767px)
    .page-rested
        &__adress
            & p
                font-size: 22px
        &__text
            font-size: 16px
        & span
            font-size: 16px

@media screen and (max-width: 425px)
    .page-rested
        &__wrapper
            flex-direction: column
        &__map-wrapper
            width: calc(100% + 40px)
            margin-right: 0
            overflow: hidden
        &__map
            width: 200%
        &__title
            font-size: 30px
            line-height: 1.2
        &__subtitle
            font-size: 30px
        &__adress
            & p
                font-size: 16px
        &__text
            font-size: 14px
        &__coords
            font-size: 12px
        & span
            font-size: 14px