@font-face 
	font-family: 'Grafita'
	src: url('../fonts/Grafita Normal.otf') format('opentype')
	font-weight: normal
	font-style: normal
@font-face 
	font-family: 'Grafita Special'
	src: url('../fonts/Grafita Special.otf') format('opentype')
	font-weight: normal
	font-style: normal
@font-face 
	font-family: 'Calvino'
	src: url('../fonts/calvino/Calvino-Semibold-trial.ttf') format('truetype')
	font-weight: 600
	font-style: normal

@import 'general'
@import 'header'
@import 'footer'

@import 'creation-page-main'
@import 'creation-page-template'
@import 'creation-page-epitaph-media'
@import 'creation-page-refs-remembers'
@import 'creation-page-find'
